header {
    width: 100%;
    min-height: 80px;
    background: #002040;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.logo img {
    width: 70px;
    height: auto;
}

nav ul {
    display: flex;
    gap: 35px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 16px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.icons svg {
    width: 25px;
    height: 25px;
    stroke: white;
    stroke-width: 2;
    cursor: pointer;
    transition: 0.3s;
}

.icons a:hover svg {
    transform: scale(1.1);
}

.menu-icon {
    display: flex;
}


@media (max-width: 768px) {

    header {
        padding: 0 20px;
    }

    .logo img {
        width: 55px;
    }

    nav ul {
        gap: 15px;
    }

    nav a {
        font-size: 14px;
    }

    .icons {
        gap: 12px;
    }

    .icons svg {
        width: 22px;
        height: 22px;
    }
}


@media (max-width: 500px) {

    nav {
        display: none;
    }

    .logo img {
        width: 45px;
    }

    .icons svg {
        width: 20px;
        height: 20px;
    }
}