.perfil-badge {

    display: inline-block;

    margin-bottom: 20px;

    padding: 4px 12px;

    background: #eef5ff;

    color: #0E1B2B;

    font-size: 12px;

    font-weight: bold;

    border-radius: 20px;

    text-transform: uppercase;
}

.refazersenha {
    display: flex;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 0px;
}

.refazersenha a {
    color: #1769E0;

    font-size: 13px;

    text-decoration: none;

    transition: color 0.2s;
}

.refazersenha a:hover {
    color: #0E1B2B;

    text-decoration: underline;
}
